### CMake ###
build/
doxygen/
build-ci-gui/
build-ci-tests/
build-audit-gui/
build-audit-tests/
build-*/
dist/

### Temporary playgrounds ###
temp/
.venv/

### IDEE ###
.vscode/
*.aseprite

### Runtime-fetched test deps ###
tests/lib/

### local machine ###
.DS_Store
